In [2]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime

## Group Assignment
### Team Number: 06
### Team Member Names: Shayan Jalali, Krish Suryavanshi, Paul Reddy
### Team Strategy Chosen: Market Meat

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.

In [3]:
# Krish's code

csv_file = "Tickers_Example.csv"
tickers = pd.read_csv(csv_file, header=None, names=["Ticker"])

# Include only valid US and Canadian companies that have listed stocks in these markets.

start_date = "2024-10-01"
end_date = "2025-10-01" # TO INCLUDE SEPT 30TH

valid_tickers = []

for ticker in tickers["Ticker"]:

    if "." not in ticker or ticker.endswith(".TO"):

        hist = yf.Ticker(ticker).history(start=start_date, end=end_date)
        
        if not hist.empty:
            valid_tickers.append(ticker)

# Exclude any stock with average daily volume < 5,000 shares between Oct 1, 2024 and Sep 30, 2025 (drop months with < 18 trading days).

volume_cutoff = 5000
minimum_trading_days = 18
final_tickers = []

for valid_ticker in valid_tickers:

    hist = yf.Ticker(valid_ticker).history(start=start_date, end=end_date)
    months = list(hist.index.strftime("%Y-%m"))

    unique_months = []
    for month in months:
        if month not in unique_months:
            unique_months.append(month)
    
    good_months = []
    for unique_month in unique_months:
        if months.count(unique_month) >= minimum_trading_days:
            good_months.append(unique_month)
    
    mask = hist.index.strftime("%Y-%m").isin(good_months)
    filtered_hist = hist[mask]

    avg_volume = filtered_hist["Volume"].mean()
    if avg_volume >= volume_cutoff:
        final_tickers.append(valid_ticker)

close_prices = pd.DataFrame()
for final_ticker in final_tickers:
    hist = yf.Ticker(final_ticker).history(start=start_date, end=end_date)
    close_prices[final_ticker] = hist["Close"]

close_prices.index = close_prices.index.strftime("%Y-%m-%d")

close_prices

$AGN: possibly delisted; no timezone found
$CELG: possibly delisted; no timezone found
$MON: possibly delisted; no timezone found
$RTN: possibly delisted; no timezone found

,AAPL,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BB.TO,...,QCOM,RY.TO,SHOP.TO,T.TO,TD.TO,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2024-10-01,225.162109,188.798172,110.925446,345.618713,71.177101,185.130005,265.044769,154.220001,38.318245,3.29,...,162.130707,160.253281,105.980003,21.057085,81.035973,193.983353,570.918213,239.846222,125.324348,42.547169
2024-10-02,225.729446,188.663971,111.003601,349.850769,70.912834,184.759995,267.334076,152.889999,38.328014,3.27,...,164.614792,159.121490,106.830002,20.899042,80.413277,195.744202,579.737061,237.697327,125.079849,42.346203
2024-10-03,224.624588,187.350739,109.626320,354.711304,70.805168,181.960007,265.034882,150.520004,38.347553,3.15,...,165.201584,157.817078,105.980003,20.713110,80.941620,194.050690,580.167664,235.040512,122.926392,42.087818
2024-10-04,225.749359,186.238800,110.026794,355.693237,74.436455,186.509995,273.028809,155.000000,39.187786,3.23,...,165.182022,159.409241,111.910004,20.555063,81.620934,195.051422,578.650635,233.311615,123.424782,42.776844
2024-10-07,220.663040,185.586990,110.730095,350.351532,72.077583,180.800003,270.872040,155.910004,39.041229,3.19,...,163.265167,159.121490,110.190002,20.601545,82.017204,193.665833,571.172729,231.367844,123.377762,42.556740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-09-24,252.309998,218.415421,133.297256,239.080002,77.900002,220.210007,339.619476,215.100006,51.700001,5.93,...,173.550003,203.245789,206.839996,21.969999,107.572151,182.808289,351.809998,230.360001,83.900002,48.657986
2025-09-25,256.869995,216.975800,132.719818,232.559998,77.099998,218.149994,339.320221,213.529999,51.849998,6.47,...,169.679993,202.332642,199.960007,21.820000,108.929314,180.429520,345.559998,232.000000,82.580002,48.509575
2025-09-26,255.460007,219.030991,132.958771,238.970001,77.980003,219.779999,340.816437,221.259995,52.209999,6.89,...,169.199997,202.114273,195.399994,21.830000,109.315651,182.917328,344.079987,235.199997,83.720001,48.915222
2025-09-29,254.429993,221.562729,132.520706,247.000000,77.900002,222.169998,341.444824,217.080002,52.419998,6.95,...,165.300003,203.176300,207.460007,21.920000,110.068535,181.608994,345.179993,236.179993,84.500000,48.470001
2025-09-30,254.630005,229.882751,133.347046,246.600006,78.540001,219.570007,331.320496,215.830002,51.590000,6.79,...,166.360001,203.593170,206.759995,21.920000,110.236938,182.104568,345.299988,236.369995,83.529999,48.330002

In [4]:
# Shayan's code

In [5]:
# Paul's code